* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    margin: 0px;
    min-width: 680px;
}

.wrapper {
    /*overflow: auto;*/
    padding: 20px;
    border: 1px solid #999;
    background-color: #eee;
}

.intro-mid {
    padding: 20px;
    margin-left: 260px;
    margin-right: 180px;
    border: 1px solid #999;
    background-color: #fff;
}

.team-left {
    float: left;
    width: 200px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #fff;
}
.team-logo {
    width: 80px;
    height: 80px;
    float: left;
}
.team-left h1 {
    float: left;
    padding-left: 10px;
    font-size: 14px;
}

.stuff-right {
    float: right;
    width: 120px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #999;
}
.stuff-logo {
    width: 80px;
    height: 80px;
    margin: 10px 0;
    border: 1px solid #999;
}

.clearfix {
    /*overflow: auto;*/
    clear: both;
}